.idea

**/docs/apidocs
**/test_dummy
**/build*
**/temp_*
**/config
**/dist
**/runs
**/__pycache__
**/.venv
**/venv
**/*.log
**/*.yaml
.python-version

### devenv and yosys+nextpnr+OpenFPGA tools
**/.devenv
**/.devenv.flake.nix
**/oss-cad-suite
**/scripts
**/.envrc
